.list-header{
    background:#f7f7f7;
    display: flex;
    justify-content: space-between;
    padding:1.2rem $m-size;
    border:1px solid darken(#f7f7f7, 7%)
}
.list-item{

    color: $dark-gray;
    border:1px solid darken(#f7f7f7, 7%);
    border-top: none;
    transition: background 0.3s ease ;
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    text-decoration: none;
    @media(min-width: $desktop-breakpoint){
        flex-direction: row;
        align-items: center;
        padding: $m-size;
        justify-content: space-between;
    }

}
.list--message{
    
}
.list-item:hover{
    background: #f7f7f7;
    word-break: break-all;
}
.list-item__title{
    margin:0
}
.list-item__subtitle{
    font-size: 1.4rem;
    margin: 1.6rem 0;
    
}
.list-item__amount{
    padding-left: $m-size;
}